New-Item .gitignore -ItemType File
Add-Content .gitignore "Library/"
Add-Content .gitignore "Temp/"
Add-Content .gitignore "Logs/"
Add-Content .gitignore "*.csproj"
Add-Content .gitignore "*.sln"
Add-Content .gitignore "UserSettings/"
Add-Content .gitignore ".vsconfig"